@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1 rem;
  background-image: url('../public/bg2.jpg');
  background-size: cover;
  background-attachment: fixed;
}
.x-responsive{
  @apply  px-7 lg:px-10 xl:px-14
}
/* .y-responsive{

}
.text-responsive{

} */
.btn-primary {
  @apply inline-flex items-center bg-stone-800 justify-center max-w-md h-12 px-6 font-medium tracking-wide text-white transition duration-700 rounded-md shadow-md  hover:bg-green-900 focus:outline-none;
}
a{
  @apply transition duration-700 hover:text-stone-300
}
nav a{
  @apply transition duration-300 hover:text-green-700
}

.inDown{
  animation: fadeInDown;
  animation-duration: 2s; 
}
.inUp{
  animation: fadeInUp;
  animation-duration: 2s; 
}
.inLeft{
  animation: fadeInLeft;
  animation-duration: 2s; 
}
.inRight{
  animation: fadeInRight;
  animation-duration: 2s; 
}

.openbtn:hover {
  background-color: #444;
}

.openNav{ 
  width: 250px;

}

.openNav ul li{ 
  display: block;
  
}


.complete{
  @apply border-2 border-stone-800
}