@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1 rem;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.616) 0%, rgba(255, 255, 255, 0) 72%, rgba(254,254,254,0) 100%),url('../public/Bg1.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.text-primary{
@apply text-zinc-700
}
.text-secondary{
 @apply text-zinc-500
}
.text-tertiary{
  @apply text-zinc-600
}




.x-responsive{
  @apply  px-7 lg:px-10 xl:px-14
}

.btn-primary {
  @apply inline-flex items-center bg-zinc-700 justify-center max-w-md h-12 px-6 font-medium tracking-wide text-white transition duration-700 rounded-md shadow-md  hover:bg-green-900 focus:outline-none;
}
a{
  @apply transition duration-700 hover:text-gray-800
}
nav a{
  @apply transition duration-300 hover:text-gray-900
}


.inDown{
  animation: fadeInDown;
  animation-duration: 2s; 
}
.inUp{
  animation: fadeInUp;
  animation-duration: 2s; 
}
.inLeft{
  animation: fadeInLeft;
  animation-duration: 2s; 
}
.inRight{
  animation: fadeInRight;
  animation-duration: 2s; 
}

.openbtn:hover {
  background-color: #444;
}



.complete{
  @apply border-2 border-stone-800
}